$width: 200px;
$height: 200px;
$bg-color: red;
$second-bg-color: orange;
 
div {
    width: $width;
    height: $height;
}
 
.one {
    background-color: $bg-color;
}
 
.two {
    background-color: $second-bg-color;
}